#board {
    height: 900px;
    width: 800px;
    background-color: black;
    position: relative;
    background-image: url("fondo\ editado2.jpg");
    background-position-y: -150px;

}

#player {

    height: 25px;
    width: 25px;
    background-color: red;
    position: absolute;
    display: flex;
    left: 390px;
    top: 250px;
}

#enemy1 {

    height: 25px;
    width: 25px;
    background-color: green;
    position: absolute;
    display: flex;
    left: 390px;
    top: 700px;

}




