body {
    position: relative;
}

#gameOver{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        position: absolute;
        background-image: url(./img/OIG2.jpeg);
        background-repeat: no-repeat;
        background-size: 100%;
        width: 100vw;
        height: 100vh;
        padding: 0;
        margin: 0;
    }

#ski_pista {
    height: 900px;
    width: 800px;
    position: relative;
    /* background-image: url("images/fondo editado2.jpg");
    background-position-y: -150px; */
}

.imagen-fondo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/fondo editado2.jpg");
    background-position-y: -150px;
    background-size: cover;
}
/* 
.imagen-superpuesta {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("images/trasparecia textura nievepng.png");
    background-position-y: 167px;
    background-size: contain;
    background-repeat: no-repeat;
} */
/* /////////////////////////////////////////////////////// */
.imagen-superpuesta {
    position: absolute;
    /* top: 100%; Inicialmente coloca la imagen fuera del contenedor */
    /* left: 0;  */
    height: 5000px;
    width: 800px;
    background-image: url('images/textura nievepng.png');
    background-position-y: 60px;
    background-size: contain;
    /* background-repeat: repeat-y; */
    background-repeat: no-repeat;
    
    animation: moverArriba 2s infinite linear; 
    animation-fill-mode: forwards;
    /* Animación para mover hacia arriba durante 2 segundos, repitiéndose infinitamente */
}

@keyframes moverArriba {
    from {
        top: 85%; /* Comienza fuera del contenedor */
    }
    to {
        top: 15%; /* Termina arriba del contenedor */
    }
}

.imagen-superpuesta2 {
    position: absolute;
    /* top: 100%; Inicialmente coloca la imagen fuera del contenedor */
    /* left: 0;  */
    height: 5000px;
    width: 800px;
    background-image: url('images/textura nievepng.png');
    background-position-y: 360px;
    background-size: contain;
    /* background-repeat: repeat-y; */
    background-repeat: no-repeat;
    
    animation: moverArriba 2s infinite linear; 
    animation-fill-mode: forwards;
    /* Animación para mover hacia arriba durante 2 segundos, repitiéndose infinitamente */
}

/* ////////////////////////////////////////////////////////////// */
#player {
    height: 75px;
    width: 50px;
    position: absolute;
    display: flex;
    left: 390px;
    top: 250px;
    background-image: url("images/playerskiderecha.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}





/* .obstacles {
    height: 25px;
    width: 25px;
    position: absolute;
    display: flex;
    left: 390px;
    top: 850px;
} */

#arbol {
    height: 100px;
    width: 85px;
    position: absolute;
    display: flex;
    justify-content: left;
    left: 390px;
    top: 700px;
    background-image: url("images/pino.png");
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;

}


#barrier {
    height: 15px;
    width: 800px;
    position: absolute;
    display: flex;
    top: 250px;
    background-color: black;
}