#ski_pista {
    height: 900px;
    width: 800px;
    position: relative;
    background-image: url("images/fondo editado2.jpg");
    background-position-y: -150px;
}

#player {
    height: 25px;
    width: 25px;
    background-color: red;
    position: absolute;
    display: flex;
    left: 390px;
    top: 250px;
}

.obstacles {
    height: 25px;
    width: 25px;
    background-color: green;
    position: absolute;
    display: flex;
    left: 390px;
    top: 850px;
}